h1 {
	text-align: center;
}

.title {
	font-size: 1rem;
	margin: 0 0rem 0.5rem;
	display: flex;
	align-items: center;
}

.title span {
	margin-left: 0.5rem;
}

.title img {
	width: 28px;
}

.bold {
	font-weight: bold;
}

img {
	margin-left: 0.25rem;
	margin-top: auto;
}

.picker {
	display: flex;
	flex-direction: row;
}
